language: java
jdk:
# - openjdk7 => # From Jersey 2.26, all modules support only Java SE 8
  - openjdk8
# - oraclejdk7 => # JDK7 is not supported anymore; https://github.com/travis-ci/travis-ci/issues/7884#issuecomment-308451879
  - oraclejdk8
# - oraclejdk9 => TODO: @r-brown - enable JDK9
script:
  - mvn clean verify
  - java -jar NetLicensingClient-demo/target/netlicensing-client-demo.jar
after_success:
  - test "${TRAVIS_JDK_VERSION}" == "openjdk8" && test "${TRAVIS_TEST_RESULT}" == "0" && mvn deploy --settings travis-mvn-settings.xml -Drepo.snapshots.url=https://oss.sonatype.org/content/repositories/snapshots -DskipTests=true -B
